$white: #fff;
$gray: #ccc;
$gray-dark: #666666;
$off-white: #F9F9F9;
$blue-dark: #24333C;
$blue-topnav1: #2D3645;
$blue-topnav2: #404E5B;
$orange: #f59630;
$red: #e02d33;
$green: #108B00;

$pragmatica: "pragmatica-web",sans-serif;
$stencil: "alternate-gothic-no-1-d",sans-serif;
$fontawesome: "FontAwesome";

$left-bar-width: 300px;
$margin-left-width: 70px;
$left-bar-width-margin: 370px;
