$white: #fff;
$gray: #ccc;
$gray-dark: #666666;
$off-white: #F9F9F9;
$blue-dark: #24333C;
$orange: #f59630;
$red: #e02d33;
$green: #108B00;

$pragmatica: "pragmatica-web",sans-serif;
$stencil: "stencil-std",sans-serif;

$left-bar-width: 300px;
$margin-left-width: 70px;
$left-bar-width-margin: 370px;
