
<aside class="right-off-canvas-menu">
  <a ui-sref="^"  class="right"><i class="fa fa-close"></i> Close</a>

  <div class="row building-header">
    <!--<div class="columns small-3">
      <a href="http://maps.google.com/maps?q={{building.astr}}, {{building.boro}} NY {{building.azip}}&layer=c&cbll={{building.lat}},{{building.lng}}" target="_blank" title="View in Google StreetView">
        <img src="http://maps.googleapis.com/maps/api/streetview?size=250x150&amp;location={{building.astr}}, {{building.boro}} NY {{building.azip}}&amp;sensor=false" height="150" width="250" alt="Google StreetView Image, copyright Google" title="View in Google StreetView">
      </a>
    </div>-->
    <div class="columns small-12">
      <h2><a ng-click="selectbuilding(building.id)">{{building.astr}}</a></h2>
      <h4>{{building.org}}</h4>
      <h5 ng-if="building.officer">{{building.officer}}, Head Officer</h5>

      <div class="row boxes">
        <!--<div class="columns small-4">
          <div class="panel">
            <div class="num blue">{{building.units}}</div>
            <div><em>units</em></div>
          </div>
        </div>-->
        <div class="columns small-6 medium-3">
          <div class="panel">
            <div class="num">{{building.hpd}}</div>
            <div><em>HPD violations</em></div>
          </div>
        </div>
        <div class="columns small-6 medium-3">
          <div class="panel">
            <div ng-class="building.delta > 0 ? 'num red' : 'num green'">
              <i class="fa fa-arrow-{{building.delta > 0 ? 'up' : 'down'}}"></i>
              {{building.delta > 0 ? building.delta : -building.delta}}
            </div>
            <div><em>since 8/2014</em></div>
          </div>
        </div>
        <div class="columns small-6 medium-3">
          <div class="panel">
            <div class="num">
              {{building.dob}}
            </div>
            <div><em>Dept. of Bldgs. complaints</em></div>
          </div>
        </div>
        <div class="columns small-6 medium-3">
          <div class="panel" ng-if="building.housingCourt">
            <div class="num">
              {{building.housingCourt}}
            </div>
            <div><em>Housing Court petitions</em></div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="tabs-wrapper">
    <dl class="tabs">
      <dd ui-sref-active="active">
        <a ui-sref=".history">Watchlist History</a>
      </dd>
      <dd ui-sref-active="active">
        <a ui-sref=".breakdown">Violation Breakdown</a>
      </dd>
      <!--<dd ui-sref-active="active">
        <a ui-sref=".list">Violation List</a>
      </dd>-->
    </dl>

    <div class="tabs-content charts">
      <div class="row">
        <div ui-view></div>
      </div>
    </div>

  </dl>
</aside>