<div class="left">
  <div class="row header"><h2 class="center">Worst buildings in {{borough.label}}</h2></div>
  <ul left-sidebar class="results">
    <li ng-repeat="building in buildings" ng-mouseover="mouseoverBuilding(building.id)" ng-mouseout="mouseoutBuilding(building.id)">
      <div class="row info">
        <div class="columns small-8">
          <h4><a ng-click="selectBuilding(building.id)">{{building.astr}}</a></h4>
          <h5>{{building.org}}</h5>
          <h6 ng-if="building.officer">{{building.officer}}, HEAD OFFICER</h6>
        </div>
        <div class="columns small-4">
          <div class="num">{{building.num}}</div>
          <div><em>violations</em>
          <div><a href="#/buildings/{{borough.id}}/{{building.id}}" class="button tiny">See Details</a>
        </div>
      </div>
      
    </li>
  </ul>
</div>

<div ui-view></div>


<div id="popup-building-teaser" class="hidden">
  <h4><a ng-click="selectBuilding(building.id)">{{hoverBuilding.astr}}</a></h4>
  <h5>{{hoverBuilding.org}}</h5>
  <h6 ng-if="building.officer">{{hoverBuilding.officer}}, HEAD OFFICER/h6>
  <div class="row">
    <div class="columns small-4">
      <div class="panel">
        <div class="num">{{hoverBuilding.num}}</div>
        <div><em>violations</em>
      </div>
    </div>
    <div class="columns small-4">
      <div class="panel">
        <div class="change">@todo change</div>
        <div><em>since Aug. 2013</em>
      </div>
    </div>
  </div>
</div>
