<div class="left">
  <div class="row header"><h2 class="center">Worst buildings in {{borough.label}}</h2></div>
  <ul left-sidebar class="results">
    <li ng-repeat="building in buildings">
      <div class="row info">
        <div class="columns small-8">
          <h4><a ng-mouseover="mouseoverBuilding(building.id)" ng-mouseout="mouseoutBuilding(building.id)" ng-click="selectBuilding(building.id)">{{building.astr}}</a></h4>
          <h5>{{building.org}}</h5>
          <h6 ng-if="building.officer">{{building.officer}}, HEAD OFFICER</h6>
        </div>
        <div class="columns small-4">
          <div class="num">{{building.num}}</div>
          <div><em>violations</em></div>
          <div><a href="#/buildings/{{borough.id}}/{{building.id}}/history" class="button tiny">See Details</a></div>
        </div>
      </div>
      
    </li>
  </ul>
</div>

<div ui-view></div>


<div id="popup-building-teaser" class="hidden">
  <h4><a ng-click="selectBuilding(building.id)">{{hoverBuilding.astr}}</a></h4>
  <h5>{{hoverBuilding.org}}</h5>
  <h6 ng-if="building.officer">{{hoverBuilding.officer}}, HEAD OFFICER</h6>
</div>


<div id="popup-building-full" class="hidden">
  <div class="popup-full">
    <img class="fleft" src="http://maps.googleapis.com/maps/api/streetview?size=100x100&amp;location={{hoverBuilding.astr}}, {{hoverBuilding.boro}} NY {{hoverBuilding.azip}}&amp;sensor=false" height="110" width="100" alt="Google StreetView Image, copyright Google" title="Google StreetView Image, copyright Google">
    <h4><a ng-click="selectBuilding(building.id)">{{hoverBuilding.astr}}</a></h4>
    <h5>{{hoverBuilding.org}}</h5>
    <h6 ng-if="building.officer">{{hoverBuilding.officer}}, HEAD OFFICER</h6>
    <div class="row boxes">
      <div class="columns small-6">
        <div class="panel">
          <div class="num">{{hoverBuilding.num}}</div>
          <div><em>violations</em></div>
        </div>
      </div>
      <div class="columns small-6">
        <div class="panel">
          <div ng-class="hoverBuilding.delta > 0 ? 'num red' : 'num green'">
            <i class="fa fa-arrow-{{hoverBuilding.delta > 0 ? 'up' : 'down'}}"></i>
            {{hoverBuilding.delta > 0 ? hoverBuilding.delta : -hoverBuilding.delta}}
          </div>
          <div><em>since 8/2013</em></div>
        </div>
      </div>
    </div>
  </div>
</div>
