<div class="left">
  <div class="row header">
    <div>
      <h3>{{landlord.org}}</h3>
      <h5>{{landlord.officer}}, <small>HEAD OFFICER</small></h5>
       <div class="row">
        <div class="columns small-6">
          <div class="panel">
            <div class="num">{{landlord.num}}</div>
            <div><em>violations</em></div>
          </div>
        </div>
        <div class="columns small-6">
          <div class="panel">
            <div class="num red">{{landlord.A_UNITS + landlord.B_UNITS}}</div>
            <div><em>units in {{landlord.buildings}} buildings</em></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>BUILDINGS</h3>
  <ol left-sidebar class="results">
    <li ng-repeat="building in buildings" ng-mouseover="mouseoverBuilding(building.id)" ng-mouseout="mouseoutBuilding(building.id)">
      <div class="row info">
        <div class="columns small-8">
          <h4><a ng-click="selectBuilding(building.id)">{{building.astr}}</a></h4>
          <h5>{{building.boro}}</h5>
        </div>
        <div class="columns small-4">
          <div class="num">{{building.num}}</div>
          <div><em>violations</em>
          <div><a href="#/landlords/{{landlord.LandlordId}}/{{building.id}}" class="button tiny">See Details</a>
        </div>
      </div>
      
    </li>
  </ol>
</div>

<div ui-view></div>
