<div class="landlords-wrapper">
  <div class="hero min-hide">
    <h1>The 100 Worst Landlords</h1>
    <div class="buttons right">
      <a href="#" ng-click="locate()" class="button alert"><i class="fa fa-location-arrow"></i> Buildings Near you</a>
      <a href="#" ng-click="search()" class="button alert"><i class="fa fa-search"></i> Search for an Address</a>
    </div>
    <h1>In New York City</h1>
  </div>
  <div class="rs-carousel landlords">
    <ul landlord-carousel>
      <li ng-repeat="landlord in landlords" ui-sref="landlords.landlord({landlordId: landlord.LandlordId})" ui-sref-active="active" class="landlord panel">
        <img src="img/landlords/landlord-{{landlord.LandlordId}}.jpg" alt="Google StreetView Image @copy Google" title="Google StreetView Image @copy Google" width="225" height="170">
        <div>
          <h4 class="min-hide">{{landlord.org}}</h4>
          <h6 class="max-hide">{{landlord.org}}</h6>
          <h5 class="min-hide">{{landlord.officer}}, HEAD OFFICER</h5>
          <div class="row min-hide boxes">
            <div class="columns small-4">
              <div class="panel">
                <div class="num">{{landlord.num}}</div>
                <div><em>violations</em></div>
              </div>
            </div>
            <div class="columns small-4">
              <div class="panel">
                <div class="num blue">{{landlord.buildings}}</div>
                <div><em>buildings</em></div>
              </div>
            </div>
            <div class="columns small-4">
              <div class="panel">
                <div class="num red">{{units(landlord.A_UNITS, landlord.B_UNITS)}}</div>
                <div><em>units</em></div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div ui-view></div>